@font-face{
  font-family:'ImcreSoojin';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff") format("woff");
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:'GmarketSansMedium';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:'GmarketSansBold';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'UhBeeSeulvely';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'BRBA_B';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'RixYeoljeongdo_Regular';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'TmoneyRoundWindExtraBold';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'KOTRA_BOLD-Bold';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'NEXON Lv1 Gothic OTF';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'NEXON Lv2 Gothic Bold';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'RixYeoljeongdo_Regular';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{font-family:'Binggrae-Bold';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'TmonMonsori';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'JSDongkang-Regular';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff") format("woff");
  font-weight:normal;
  ont-style:normal;
}

@font-face{
  font-family:'JSDongkang-Bold';
  src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}


body{
  background-color: #f6fcff38;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

.inner{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

/*  background_effect-BUBBLE */
.bubble{
  position:absolute;
  width:6em;
  height:6em;
  border:1px solid rgba(255,255,255,0.1);
  border-radius:50%;
  background: radial-gradient(ellipse at center,  rgba(144, 187, 252, 0.5) 0%,rgba(154, 162, 235, 0.493) 70%);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.4), inset 1em 1em 1em rgba(255, 255, 255, 0.6), 0 1em 2em rgba(0, 0, 0, 0.25);
  z-index: 20;
}
.bubble:hover{
  display:none;
}

.b1{
  animation: floatup 10s linear infinite, sideways 5s ease-in-out infinite alternate;
  left: 10%;
  top:100%; 
}
.b2{
  animation: floatup 5s linear infinite, sideways 4s ease-in-out 1s infinite alternate;
  left: 15%;
  top: 30%;
  transform: scale(.7);
}
.b3{
  animation: floatup 4s linear infinite, sideways 6s ease-in-out 6s infinite alternate;
  left: 20%;
  transform: scale(1.2);
}
.b4{
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 3s infinite alternate;
  left: 25%;
  top:90%;
  transform: scale(.5);
}
.b5{
  animation: floatup 8s linear infinite, sideways 6s ease-in-out 3s infinite alternate;
  left: 30%;
  top:30%;
  transform: scale(1.1);
}
.b6{
  animation: floatup 7s linear infinite, sideways 4s ease-in-out 3.5s infinite alternate;
  left:40%;
  top:50%;
  transform: scale(.7);
}
.b7{
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 4s infinite alternate;
  left: 90%;
  top:90%;
  transform: scale(.6);
}
@keyframes floatup{
  0% {margin-top: 50%;}
  100% {margin-top: -50%;}
}
@keyframes sideways{
  0% {margin-left: 0em;}
  100%{margin-left: 20em;}
  100% {margin-left: 0px;}
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner{
  /* background-color: #aefff8; */
  height: 155px;
}

header > .inner > .logo{
  width: 30%;
  position: absolute;
  top: -25px;
  left: -25px;
}

header > .inner > .logo > img{
  width: 250px;
}


/* 서브 메뉴 */
header .sub-menu{
  position: absolute;
  top: 45px;
  right: 0;
  display: flex;
}

header .sub-menu .menu{
  display: flex;
  font-family:'NEXON Lv1 Gothic OTF';
}

header .sub-menu .menu li{
  position: relative;
}

header .sub-menu .menu li a {
  display: block;
  padding: 11px 16px;
  font-size: 16px;
  color: #000000;
}

header .sub-menu .menu li a:hover{
  color: #0b0980;
  font-weight: bold;
}


/* 메뉴 아이템 사이 구분선 */
header .sub-menu .menu li::after{
  display: inline-block;
  content:"";  /* 필수 속성 */
  width: 1px;
  height: 16px;
  background-color: #656565;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu .menu li:first-child::after{
  display: none;
 }

header .sub-menu .search{
  position: relative;
  height: 34px;
}

header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}

header .sub-menu .search input:focus{
  width: 190px;
  border-color: #5646df;
}

header .sub-menu .search .material-symbols-outlined{  
  height: 15px;
  margin: auto;
  transition: opacity 0.4s;
  position: absolute;
  top: 10px;
  right: 8px
}

header .sub-menu .search input:focus + .material-symbols-outlined{
  opacity: 0;
}

/* 메인메뉴 */
header .main-menu{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10; 
  width: 100%;
}

header .main-menu .item{
  flex: 1;
}

header .main-menu .item .item__name{
  display: block;
  padding: 10px 20px;
  font-family:'NEXON Lv1 Gothic OTF';
  width: auto;
  font-size: 20px;
  color: #070707;
  text-align: center;
}

header .main-menu .item:hover .item__name{
  background-color: #87a9f3;
  color: #000000;
  font-weight: bold;
  border-radius: 6px 6px 0 0; 

}

header .main-menu .item .item__contents{
  background-color: #cfcfcc;
  position: fixed;
  width: 100%;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents{
  display: block;
}

header .main-menu .item .item__contents > ul{
  display: flex;
  padding: 20px 0;
  flex-direction: row;
}

header .main-menu .item .item__contents > ul >li{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

header .main-menu .item .item__contents > ul > li > a{
  padding: 5px 0;
  font-size: 20px;
  font-family:'NEXON Lv1 Gothic OTF';
  color: #000000;
  cursor: pointer;
}

header .main-menu .item .item__contents > ul > li:hover a{
  color: #000000;
  font-weight: bold;
}


#full{
  height: auto;
  margin-bottom: 50px;
}

/* MAIN BANNER */
.main_banner{
  margin-top: 156px;
  /* background-image: url("https://via.placeholder.com/1280x600"); */
  background-position: center;
  height: 600px;
}



/* CONTENT */
.content{


}

.content h2{
  text-align: left;
  padding: 30px 0 0;
  font-size: 30px;

}
/* .content_focus{
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.content_focus .content_focus01{
  background-color: yellow;
  width: 45px;
  height: 5px;
  transform: rotate(60deg);
  margin: 0 auto;
}
.content_focus .content_focus02{
  background-color: yellow;
  width: 45px;
  height: 5px;
  transform: rotate(90deg);
  margin: 0 auto;
}
.content_focus .content_focus03{
  background-color: yellow;
  width: 45px;
  height: 5px;
  transform: rotate(-60deg);
  margin: 0 auto;
} */


/* YOUTUBE */
.youtube{
  position: relative; /*부모에 위치 기준*/
  height: 700px;
  background-color: #333;
  overflow: hidden;
  margin: 30px 0;
}

.youtube h2{
  text-align: left;
  padding: 30px 0;
  font-size: 30px;
}

.youtube .youtube__area{
  /* 유튜브의 표준 영상 비율 16:9 */
  width: 1920px;
  height: 1080px;
  position: absolute;
  left : 50%;
  top : 50%;
  --width:1920px;
  --height:1080px;
  width: var(--width);
  height: var(--height);
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
}

#player{
  width: 100%;
  height: 100%;
}

.youtube .youtube__cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.youtube .inner{
  height: 100%;
}

/* NEWS */
.news{

}

.news h2{
  text-align: left;
  padding: 30px 0;
  font-size: 30px;
}

.news .contenst-news{
  display: flex;
  justify-content: space-between;  
  font-family: 'NEXON Lv1 Gothic OTF';
}

.news .contenst-news .left{
  width: 50%;
}

.news .contenst-news .left .left_box{
  width: 90%;
}

.news .contenst-news .left .left_box .main_news_box{
  width: 100%;
}

.news .contenst-news .left .left_box .main_news_box a{
  color: #000;
}

.news .contenst-news .left .left_box .main_news_box .btn{
  margin: 20px 0 0 0;
  display: inline-block;
}


.news .contenst-news .left .left_box > img{
  
}

.news .contenst-news .right{
  width: 50%;
}

.news .contenst-news .right .right_box{
  width: 100%;

}

.news .contenst-news .right .right_box .top-news {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.news .contenst-news .right .right_box .top-news img{
  
}

.news .contenst-news .right .right_box a{
  color: #000;
}


.news .contenst-news .right .right_box .bottom-news {
  display: flex;
  justify-content: space-between;  
}

/* BOARD */
.board{

}

.board h2{
  text-align: left;
  padding: 30px 0;
  font-size: 30px;
}

.board .board-line{
  display: flex;
  justify-content: space-between;
}

.board .board-line > li{
  background-color: #f9f8fc;
  position: relative;
  width: 24%;
  border: 1px solid #1111b3;
  box-sizing: border-box;
}

.board .board-line > li > .defalt_board{
  height: auto;
  padding-bottom: 30px;
  display: block;
  width: 100%;
}

.board .board-line li span{
  font-size: 15px;
  color: #4d7fca;
  text-align: left;
  line-height: 23px;
  display: block;
  margin: 22px 20px 8px;
  font-weight: bold;
  font-family: 'JSDongkang-Bold';
}

.board .board-line li h4{
  font-size: 16px;
  color: #000;
  text-align: left;
  display: block;
  margin: 0 20px;
  font-family: 'JSDongkang-Bold';
}

.board .board-line li  p{
  text-align: left;
  display: block;
  line-height: 28px;
  color: #333;
  margin: 0 20px;
  font-size: 15px;
  font-family: 'NEXON Lv1 Gothic OTF';s
}


.board .board-line > li .hidden_board{
  width: 15%;
  height: 35%;
  background-color: #e0e0e0;
  position: absolute;
  border: 1px solid #1111b3;
  box-sizing: border-box;
  display: none;
  z-index: 10;
}

.board .board-line > li .hidden_board.h-01{
  top: calc(55% - 250px);
  left: calc(35% - 250px);
}

.board .board-line > li .hidden_board.h-02{
  top: calc(55% - 250px);
  left: calc(51% - 250px);
}

.board .board-line > li .hidden_board.h-03{
  top: calc(55% - 250px);
  left: calc(67% - 250px);
}

.board .board-line > li .hidden_board.h-04{
  top: calc(55% - 250px);
  left: calc(83% - 250px);
}

.board .board-line > li .hidden_board .close_btn{
  content: "";
  display: block;
  color: #000;
  font-family: 'JSDongkang-Regular';
  margin-top: 30px;
  right: 15px;
  position: absolute;
}


.board .board-line > li .hidden_board{
  width: 280px;
  height: 360px;
  
}

/* Q&A */
.qna{}

.qna h2{
  text-align: left;
  padding: 30px 0;
  font-size: 30px;
}

.qna .qna_box{}

.qna .qna_box .dl_box{}

.qna .qna_box .dl_box .question{
  line-height: 50px;
  border-bottom: solid 1px #b3b3b3;
  box-sizing: border-box;
  position: relative;
  font-family: 'NEXON Lv1 Gothic OTF';
}

.qna .qna_box .dl_box .question::after{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: solid 2px #ddd;
  border-right: solid 2px #ddd;
  transform: rotate(135deg);
  position: absolute;
  top: 17px;
  right: 23px;
  content: "";
}

.qna .qna_box .dl_box .answer{
  line-height: 25px;
  display: none;
  padding: 34px 0;
  font-family: 'NEXON Lv1 Gothic OTF';
  font-weight: bold;
  background-color: #7bade029;
}

/* FOOTER */
#footer{
  background-color: #f6f5f0;
  padding: 20px 0 0;
}

.footer_cover{
  display: flex;
}

.footer_left{
  width: 30%;
}

.customer{
  font-family: 'NEXON Lv1 Gothic OTF';
}

.customer::after{
  content: "";
  display: inline-block;
  border: 0.5px solid #d7d7d7;
  width: 100%;
  margin: 10px 0;
} 

.customer_full{
  display: flex;
}

.customer_left{
  width: 40%;
}

.customer .big{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
  display: inline-block;
}

.customer .regul{
  font-size: 15px;
}
.customer >span >p{
}


.barand_about{
  padding:30px 0;
  font-family: 'NEXON Lv1 Gothic OTF';
}

.footer_right{
  width: 70%;
  margin-top: 26px;
}

.footer_nav{
  padding: 30px 0 0;
}

.footer_nav::after{
  content: "";
  display: inline-block;
  border: 0.5px solid #d7d7d7;
  width: 100%;
  margin: 10px 0;
}

.footer_nav > ul{
  display: flex;
  font-family: 'NEXON Lv1 Gothic OTF';
  color: #000;
  justify-content: space-between;
}

.footer_nav > ul > li{

}

.footer_nav > ul > li > a{
  color: #767676;
  font-size: 15px;
  font-weight: bold;
}

.footer_sub{
  font-family: 'NEXON Lv1 Gothic OTF';
  }

.footer_sub .txt_ju{
  font-size: 20px;
}


.footer_sub .footer_left{
  display: flex;
  font-size: 15px;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
}

.footer_sub .footer_left .address01 > ul{
  display: flex;
  flex-wrap: wrap;
}

.footer_sub .footer_left .address01 > ul > li{
  font-size: 10px;
  padding: 2px 20px 0 0;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (max-width:820px) { 
.inner{
  max-width: 820px;
  margin: 0 auto;
  position: relative; 
}

header .main-menu{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  justify-content: space-between;
}

header .main-menu .item {
  flex: none;
}

#full .main_banner{
  height: auto;
}

#full .main_banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.content{
  width: 100%;
}

.content h2{
  text-align: center;
} 

.youtube {
  display: none;
}

.news{
  width: 100%;
  background-color: #dfebfd;
  padding-bottom: 30px;
}

.news h2{
  text-align: center;
}

.news .contenst-news .left{
  width: 100%;
}

.news .contenst-news .left .left_box{
  width: 100%;
}

.news .contenst-news .left .left_box .main_news_box img{
  margin: 0 auto;
}

.news .contenst-news .left .left_box .main_news_box a{
  text-align: center;
}

.news .contenst-news .left .left_box .main_news_box a h3{
  font-size: 25px;
}

.news .contenst-news .left .left_box .main_news_box a p{
  font-size: 20px;
}

.news .contenst-news .left .left_box .main_news_box .btn{
  display: none;
}

.news .right{
  display: none;
}

.board{
  padding-bottom: 30px;
}
.board h2{
  text-align: center;
}

.board .board-line{
  flex-wrap: wrap;
}

.board .board-line li{
  width: 100%;
  margin-bottom: 15px;
}

.board .board-line li a span,
.board .board-line li a p{
  text-align: center;
}

.board .board-line li a span{
  font-size: 22px;
}

.board .board-line li a:nth-child(2){
  font-weight: bold;
  font-size: 18px;
}
.board .board-line li a p{
  font-size: 16px;
}

.board .board-line .hidden_board{
  /* 없어져야 함ㅜㅜ */
}

.qna{
  background-color: #dfebfd;
  padding-bottom: 30px;
}

.qna h2{
  text-align: center;
}

.qna .dl_box{
  text-align: center;
  font-size: 25px;
  line-height: 70px;
}

#footer .footer_left .barand_about p{
  font-size: 13px;
}


}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:430px) {
  header{
    max-width: 430px;
  }
  
  .inner{
    max-width: 430px;
    margin: 0 auto;
    position: relative; 
    display: block;
  }

  header > .inner > .logo {
    top: 0px;
    left: -35px;
}

  header > .inner > .logo > img {
    width: 180px;
}

header .sub-menu {
  right: 10px;
}

header .sub-menu .menu li a {
  padding: 10px 10px;
  font-size: 15px;
}

header .sub-menu .mypage {
  display: none;
}




  .bubble-group{
    display: none;
  }

  header .main-menu{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
  }
  
  header nav .main-menu .item .item__name,
  header .main-menu .item .item__contents > ul > li > a{
    font-size: 12px;
  }
  header .main-menu .item .item__contents > ul{
  padding: 8px 0;
  }


  header .main-menu .item {
    flex: none;
  }

  header .main-menu .item .item__name{
    font-size: 12px;
  }

  header .main-menu .item .item__name {
    padding: 10px 16px;
}

  .mobile_hidden{
    display: none;
  }

  .news h2 {
    padding: 15px 0;
  }
  .news .contenst-news .left .left_box .main_news_box img {
  width: 100%;
  }

  .news .contenst-news .left .left_box .main_news_box a h3 {
    font-size: 15px;
}

.news .contenst-news .left .left_box .main_news_box a p {
  font-size: 10px;
}




.qna .dl_box{
  text-align: center;
  font-size: 20px;
}

.qna .qna_box .dl_box .question {
  line-height: 45px;
}

.qna .qna_box .dl_box .answer {
  padding: 15px 0;
}

#footer .footer_left {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

#footer .footer_cover .footer_left img {
  margin: 0 auto;
  padding: 0 0 10px 0;
}

#footer .footer_left .barand_about p {
  text-align: center;
}

.footer_nav {
  padding: 0;
}

.footer_nav > ul > li > a {
  font-size: 10px;
  padding: 0 10px;
}

.barand_about {
  padding: 0;
}

#footer .footer_right {
  width: 100%;
}

.customer {
  text-align: center;
}

.customer_left {
  width: 45%;
}

.customer .regul {
  font-size: 10px;
}

.footer_sub {
  text-align: center;
}

.footer_left .address01{
  text-align: center;
} 

.footer_sub .footer_left .address01 > ul {
  justify-content: center;
}


}


