#login {
  margin-top: 156px;
  background-color: #080d581a;
  text-align: center;
  padding: 0 0 200px 0;
}

img{
  display: block;
  margin: 0 auto;
}
#login .login_box .id_box {
  margin-bottom: 20px;
}
#login .login_box .id_box input {
  width: 300px;
  height: 39px;
  border: 0;
  text-indent: 8px;
}
#login .login_box .password_box input {
  width: 300px;
  height: 39px;
  border: 0;
  text-indent: 8px;
}
#login .login_box input[type=submit] {
  font-size: 20px;
  padding: 5px 120px;
  margin: 30px 0;
  border: 0;
}
#login .login_box input[type=submit]:hover {
  background-color: #ffd400;
}
#login .login_sub_menu a {
  color: #799fd2;
  font-size: 13px;
}
#login .login_sub_menu .id_line {
  display: inline-block;
  width: 2px;
  height: 13px;
  background-color: #b7c8e0;
}
#login .with_laon {
  margin-top: 20px;
}
#login .with_laon a {
  color: #799fd2;
  font-size: 16px;
}
#login .social_login {
  margin: 30px auto;
  width: 300px;
}
#login .social_login .social_p {
  color: #496488;
  font-weight: bold;
}
#login .social_login a {
  display: block;
  font-size: 17px;
  margin: 10px 0;
  line-height: 20px;
  padding: 11px 0;
  font-weight: bold;
  text-align: center;
}
#login .social_login a:nth-child(2) {
  background-color: #1ece00;
  color: #fff;
}
#login .social_login a:nth-child(3) {
  background-color: #fae301;
  color: #000;
}
#login .social_login a:nth-child(4) {
  background-color: #fff;
  color: #000;
}

/* 회원가입페이지 */

#join {
  margin-top: 156px;
  background-color: #080d581a;
  text-align: center;
  padding: 0 0 30px 0;
}
#join .join_section fieldset legend {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  padding-top: 30px;
}
#join .join_section fieldset .join_form > div:nth-child(2) input[type=text] {
  width: 96px;
}
#join .join_section fieldset .join_form .join_box {
  margin-bottom: 20px;
}
#join .join_section fieldset .join_form p {
  margin-bottom: 10px;
}
#join .join_section fieldset .join_form p label {
  font-size: 18px;
  border: none;
}
#join .join_section fieldset .join_form p label[for=id] {
  text-indent: 7px;
}
#join .join_section fieldset .join_form p label[for=pw] {
  text-indent: 7px;
}
#join .join_section fieldset .join_form p label[for=mail] {
  text-indent: 7px;
}
#join .join_section fieldset .join_form p label[for=pfone] {
  text-indent: 7px;
}
#join .join_section fieldset .join_form p label[for=phone_number] {
  text-indent: 7px;
}
#join .join_section fieldset .join_form input {
  border: none;
}
#join .join_section fieldset .join_form input[type=text] {
  width: 300px;
  height: 39px;
  text-indent: 7px;
}
#join .join_section fieldset .join_form input[type=password] {
  width: 300px;
  height: 39px;
  text-indent: 7px;
}
#join .join_section fieldset .join_form .warning_p {
  font-size: 11px;
  color: #636262;
  line-height: 17px;
}
#join .join_section .join_btn a {
  color: #0e075d;
  padding: 10px 0;
  font-weight: bold;
  background-color: #ccc8c8;
}
#join .join_section .join_btn a:hover {
  color: #0e075d;
  padding: 10px 0;
  font-weight: bold;
  background-color: #fff;
}

#join .join_section fieldset .join_box .country {
  width: 300px;
  margin-bottom: 10px;
  height: 30px;
}
#join .join_section fieldset .phone_number input[type=text] {
  width: 190px;
  margin-bottom: 10px;
  text-indent: 7px;
}
#join .join_section fieldset .phone_number label[for=phone_number] a {
  color: #0e075d;
  padding: 10px 0;
  font-weight: bold;
  text-indent: 7px;
  background-color: #ccc8c8;
}
#join .join_section fieldset .phone_number label[for=phone_number] a:hover {
  color: #0e075d;
  padding: 10px 0;
  font-weight: bold;
  background-color: #fff;
}