ear infinite, sideways 5s ease-in-out infinite alternate;
  left: 10%;
  top: 100%;
}

.b2 {
  animation: floatup 5s linear infinite, sideways 4s ease-in-out 1s infinite alternate;
  left: 15%;
  top: 30%;
  transform: scale(0.7);
}

.b3 {
  animation: floatup 4s linear infinite, sideways 6s ease-in-out 6s infinite alternate;
  left: 20%;
  transform: scale(1.2);
}

.b4 {
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 3s infinite alternate;
  left: 25%;
  top: 90%;
  transform: scale(0.5);
}

.b5 {
  animation: floatup 8s linear infinite, sideways 6s ease-in-out 3s infinite alternate;
  left: 30%;
  top: 30%;
  transform: scale(1.1);
}

.b6 {
  animation: floatup 7s linear infinite, sideways 4s ease-in-out 3.5s infinite alternate;
  left: 40%;
  top: 50%;
  transform: scale(0.7);
}

.b7 {
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 4s infinite alternate;
  left: 90%;
  top: 90%;
  transform: scale(0.6);
}

@keyframes floatup {
  0% {
    margin-top: 50%;
  }

  100% {
    margin-top: -50%;
  }
}

@keyframes sideways {
  0% {
    margin-left: 0em;
  }

  100% {
    margin-left: 20em;
  }

  100% {
    margin-left: 0px;
  }
}

/* HEADER */

header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;

  > .inner {
    /* background-color: #aefff8; */
    height: 155px;

    > .logo {
      width: 30%;
      height: auto;
      position: absolute;
      height: auto;
      top: -25px;
      bottom: 0;
      margin: auto 0;
      left: -25px;

      > img {
        width: 250px;
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: 45px;
    right: 0;
    display: flex;

    .menu {
      display: flex;
      font-family: 'NEXON Lv1 Gothic OTF';

      li {
        position: relative;

        a {
          display: block;
          padding: 11px 16px;
          font-size: 16px;
          color: #000000;

          &:hover {
            color: #0b0980;
            font-weight: bold;
          }
        }

        &::after {
          display: inline-block;
          content: "";

          /* 필수 속성 */
          width: 1px;
          height: 16px;
          background-color: #656565;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        &:first-child::after {
          display: none;
        }
      }
    }

    .search {
      position: relative;
      height: 34px;

      input {
        width: 36px;
        height: 34px;
        padding: 20px 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #fff;
        color: #777;
        font-size: 12px;
        transition: width 0.4s;

        &:focus {
          width: 190px;
          border-color: #5646df;
        }
      }

      .material-icons {
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 7px;
        margin: auto;
        transition: opacity 0.4s;
      }

      input:focus + .material-icons {
        opacity: 0;
      }
    }
  }

  .main-menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 100%;

    .item {
      flex: 1;

      .item__name {
        display: block;
        padding: 10px 20px;
        font-family: 'NEXON Lv1 Gothic OTF';
        width: auto;
        font-size: 20px;
        color: #070707;
        text-align: center;
      }

      &:hover .item__name {
        background-color: #87a9f3;
        color: #000000;
        font-weight: bold;
        border-radius: 6px 6px 0 0;
      }

      .item__contents {
        background-color: #cce1ff;
        position: fixed;
        width: 100%;
        left: 0;
        display: none;
      }

      &:hover .item__contents {
        display: block;
      }

      .item__contents > ul {
        display: flex;
        padding: 20px 0;
        flex-direction: row;

        > li {
          margin: 0 auto;
          text-align: center;
          width: 100%;

          > a {
            padding: 5px 0;
            font-size: 20px;
            font-family: 'NEXON Lv1 Gothic OTF';
            color: #000000;
            cursor: pointer;
          }

          &:hover a {
            color: #000000;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* 서브 메뉴 */
/* 메뉴 아이템 사이 구분선 */
/* 메인메뉴 */
#full {
  height: auto;
}

/* MAIN BANNER */

.main_banner {
  margin-top: 156px;
  background-image: url("https://via.placeholder.com/1280x600");
  background-position: center;
  height: 600px;
}

/* CONTENT */

.content h2 {
  text-align: left;
  padding: 30px 0;
  font-size: 30px;
}

/* YOUTUBE */

.youtube {
  position: relative;

  /*부모에 위치 기준*/
  height: 700px;
  background-color: #333;
  overflow: hidden;
  margin: 30px 0;

  h2 {
    text-align: left;
    padding: 30px 0;
    font-size: 30px;
  }

  .youtube__area {
    /* 유튜브의 표준 영상 비율 16:9 */
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 50%;
    top: 50%;
    --width:1920px;
    --height:1080px;
    width: var(--width);
    height: var(--height);
    margin-left: calc(var(--width) / -2);
    margin-top: calc(var(--height) / -2);
  }
}

#player {
  width: 100%;
  height: 100%;
}

.youtube {
  .youtube__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .inner {
    height: 100%;
  }
}

/* NEWS */

.news {
  h2 {
    text-align: left;
    padding: 30px 0;
    font-size: 30px;
  }

  .contenst-news {

    display: flex;
    justify-content: space-between;

    .left {
      width: 50%;

      .left_box > img {}
    }

    .right {
      width: 50%;

      .right_box {
        width: 100%;

        .top-news {
          display: flex;
          margin-bottom: 50px;
          justify-content: space-between;

          img {}
        }

        .bottom-news {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

/* BOARD */

.board {
  h2 {
    text-align: left;
    padding: 30px 0;
    font-size: 30px;
  }

  .board-line {
    display: flex;
    justify-content: space-between;

    > li {
      background-color: #f9f8fc;
      position: relative;
      width: 24%;
      border: 1px solid #1111b3;
      box-sizing: border-box;

      > .defalt_board {
        height: auto;
        padding-bottom: 30px;
        display: block;
        width: 100%;
      }
    }

    li {
      span {
        font-size: 15px;
        color: #4d7fca;
        text-align: left;
        line-height: 23px;
        display: block;
        margin: 22px 20px 8px;
        font-weight: bold;
        font-family: 'JSDongkang-Bold';
      }

      h4 {
        font-size: 16px;
        color: #000;
        text-align: left;
        display: block;
        margin: 0 20px;
        font-family: 'JSDongkang-Bold';
      }

      p {
        text-align: left;
        display: block;
        line-height: 28px;
        color: #333;
        margin: 0 20px;
        font-size: 15px;
        font-family: 'JSDongkang-Regular';
      }
    }

    > li .hidden_board {
      width: 15%;
      height: 35%;
      background-color: #e0e0e0;
      position: absolute;
      border: 1px solid #1111b3;
      box-sizing: border-box;
      display: none;
      z-index: 10;

      &.h-01 {
        top: calc(55% - 250px);
        left: calc(35% - 250px);
      }

      &.h-02 {
        top: calc(55% - 250px);
        left: calc(51% - 250px);
      }

      &.h-03 {
        top: calc(55% - 250px);
        left: calc(67% - 250px);
      }

      &.h-04 {
        top: calc(55% - 250px);
        left: calc(83% - 250px);
      }

      .close_btn {
        display: block;
        color: #000;
        font-family: 'JSDongkang-Regular';
        margin-top: 30px;
        right: 15px;
        position: absolute;
      }

      width: 280px;
      height: 360px;
    }
  }
}

/* Q&A */

.qna {
  h2 {
    text-align: left;
    padding: 30px 0;
    font-size: 30px;
  }

  .qna_box .dl_box {
    .question {
      line-height: 50px;
      border-bottom: solid 1px #b3b3b3;
      box-sizing: border-box;
      position: relative;
      font-family: 'Binggrae-Bold';

      &::after {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: solid 2px #ddd;
        border-right: solid 2px #ddd;
        transform: rotate(135deg);
        position: absolute;
        top: 17px;
        right: 23px;
      }
    }

    .answer {
      line-height: 25px;
      display: none;
      padding: 34px 0;
      font-family: 'NEXON Lv1 Gothic OTF';
      background-color: #7bade029;
    }
  }
}

/* FOOTER */

#footer {
  margin-top: 30px;
  width: 100%;
  background-color: #f6f5f0;
}

.foot {
  display: flex;
  padding: 20px 0;
}

.left_place, .right_box {
  width: 50%;
}

.left_place .foot_01 {
  display: flex;

  li {
    flex-grow: 1;
  }
}

.address {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.txt_ju {
  font-size: 20px;
}

#footer .address p {
  display: flex;
  flex: 1;
  font-size: 12px;
  font-weight: bold;

  &::after {
    width: 2px;
    height: 16px;
    color: #000;
    padding: 0 5px;
  }
}